
.nav ul li:first-child{
    background-color: #fff;
}
.nav ul li:first-child a{
    color: #3D3D3D;
}
.nav ul li:nth-child(2){
    background-color: #F8B62D;
}
.nav ul li:nth-child(2) a{
    display: inline-block;
    width:100%;
    color: #fff;
}


.content{
    margin-top:23px;
}
.content>ul>li{
    float: left;
    width:324px;
    padding:20px 22px 0 20px;
    margin-right:19px;
    margin-bottom: 20px;
    background-color: #fff;
}
.content>ul>li:nth-child(3n){
    margin-right:0;
}
.content>ul>li h3{
    padding-left:10px;
    margin-bottom:27px;
    border-left: 3px solid #F8B62D;
}
.content>ul>li h3 a{
    font-size: 12px;
}
.content>ul>li h3 a i{
    margin-left:5px;
    font-size: 12px;
    color: #CDCECE;
}
.content>ul>li .pro-show li{
    float: left;
    width:98px;
    margin-right:15px;
}
.content>ul>li .pro-show li:nth-child(3n){
    margin-right:0;
}
.content>ul>li .pro-show li img{
    width:100%;
    height:143px;
}
.pro-show li p{
    color: #9E9E9E;
}
.pro-show li p:nth-child(2){
    margin-top:13px;
    font-size: 14px;
    color: #4A4A4A;
}
.pro-show li p:nth-child(3){
    margin-top:42px;
    margin-bottom: 17px;
}
.pro-show li p:nth-child(4){
    margin-bottom: 34px;
}